@import "SS";

* {
  margin: 0;
  padding: 0;
}

.navbar.navbar-expand-md.navbar-dark {
  font-family: vazir-r;
  background-color: $color-1-gray;
}

.brand-nav {
  font-size: 25px;
  font-weight: 500;
}

.nav-item {
  .nav-link {
    width: max-content;
  }
}

article > .one-page {
  background-color: #000;
  height: 105vh;
  @include d-f;

  .container {
    @include d-f($dir: column);

    h1 {
      color: #eeeeee;
      font-size: 50px;
      font-family: mitra-b;
    }

    img {
      margin-top: 20px;
      width: 500px;
    }
    @media screen and (max-width: 535px) {
      img {
        width: 280px;
      }
      h1 {
        font-size: 35px;
      }
    }
  }
}

article > .info {
  background-color: $color-1-gray;
  color: white;
  font-family: vazir-r;
  padding: 50px;
  padding-top: 100px;
  padding-bottom: 180px;
  text-align: center;
  position: relative;
  > span:nth-child(1) {
    width: max-content;
    margin: 20px auto;
    font-size: 30px;
    color: #eeeeee;
    background-color: #424242;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    user-select: none;
    transition: all 300ms;
    display: block;
    &:hover {
      background-color: #eeeeee;
      color: #424242;
    }
  }
  h4 {
    display: inline;
  }
  p {
    display: inline;

    font-size: 20px;
    text-align: right;
    line-height: 45px;
  }
  p:nth-child(3) {
    text-align: center;
    margin-top: -10px;
  }
  span:nth-child(4) {
    font-size: 15px;
    color: #eeeeee;
    background-color: rgba(0, 0, 0, 0);
    float: left;
    position: relative;
    margin-left: -20px;
    transition: all 300ms;
    &:hover {
      background-color: #424242;
      color: #eeeeee;
    }
  }
}

@media screen and (min-width: 700px) {
  article > .info {
    padding: 150px 150px;
    padding-bottom: 250px;
  }
}

.custom-shape-divider-bottom-1642754660 {
  position: absolute;
  bottom: -6vh;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1642754660 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 102px;
}

.custom-shape-divider-bottom-1642754660 .shape-fill {
  fill: $color-1-gray;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-bottom-1642754660 svg {
    width: calc(100% + 1.3px);
    height: 74px;
  }
}

.customs-shape-divider-bottom-1642754660 {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.customs-shape-divider-bottom-1642754660 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 102px;
}

.customs-shape-divider-bottom-1642754660 .shape-fill {
  fill: #424242;
}

footer {
  background-color: #424242;
  color: white;
  font-family: vazir-r;
  padding: 50px;
  padding-top: 70px;
  padding-bottom: 50px;
  text-align: center;
  span {
    font-size: 30px;
    color: #eeeeee;
    background-color: #616161;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    user-select: none;
    transition: all 300ms;
    &:hover {
      background-color: #eeeeee;
      color: #616161;
    }
  }
  dt {
    font-size: 25px;
  }
  dd {
    font-size: 15px;
    h5 {
      display: inline;
    }
  }
}

@media screen and (min-width: 1060px) {
  footer {
    padding: 150px 150px;
    padding-bottom: 150px;
  }
}
